@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
    }
}

@layer components {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="url"], textarea {
        @apply block w-full rounded-md border-0 p-2 shadow-sm ring-1 ring-inset ring-white placeholder:text-slate-300 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm bg-gray-700 text-white;
    }
}

main {
    @apply flex items-center justify-center;
}

nav {
    @apply px-5 flex items-center justify-between;
    
}

label {
    @apply text-white pr-3
}


.logo {
    @apply object-fill h-14 w-32;
}

.btn {
    @apply flex w-full justify-center items-center h-8 overflow-auto rounded-full bg-slate-100 focus:outline-none focus:ring-1 focus:ring-slate-100 focus:ring-offset-2 focus:ring-offset-slate-800;
}

h1 {
    @apply flex justify-center text-white mt-4 text-xl
}

a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 5px;
    transition: background-size cubic-bezier(0,.5,0,1) 0.3s;
  }
  
  a:hover,
  a:focus {
    text-decoration: none;
    background-size: 100% 3px;
    transform: translateY(-1px);
  }

/* Style the tab */
.tab {
    display: flex;
    cursor: pointer;
    padding: 5px;

}

/* Style the buttons inside the tab */
.tab button {

    border: none;
    padding: 14px 16px;
    font-size: 16px;
    transition: 0.3s;
}

/* Change background color of active tab button */
.tab button.active {
    background-color: #696969;
    border-radius: 5px;
}

/* Hide all tables by default */
.table-content {
    display: none;

}

/* Show the active table */
.table-content.active {
    display: block;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {

    text-align: left;
}
